@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Đăng ký xác nhận";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
        Ứng dụng này hiện không có người gửi email thực đã đăng ký, hãy xem <a href="https://aka.ms/aspaccountconf">những tài liệu này</a> để biết cách định cấu hình người gửi email thực.
            Thông thường, điều này sẽ được gửi qua email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Nhấn vào đây để xác nhận tài khoản của bạn</a>
</p>
    }
    else
    {
<p>
        Vui lòng kiểm tra email của bạn để xác nhận tài khoản của bạn.
</p>
    }
}

