@model StoreShoe.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <img src="~/Image/@Model.ImageName" class="img-fluid" alt="" style="width = 330px; height = 200px; object-fit: cover;">
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-6 mb-4">
            <!--Content-->
            <div class="p-4">
                <div class="mb-3">
                    <a href="">
                        <span class="badge bg-info me-1">New</span>
                    </a>
                    <a href="">
                        <span class="badge bg-danger me-1">Bestseller</span>
                    </a>
                    <a href="">
                        <span class="badge bg-info me-1">Ammout : @Model.Inventory</span>
                    </a>
                </div>

                <p class="lead">
                    <span class="me-1">
                        @if (Model.ProductSale > 0)
                        {
                            <del>$@Model.ProductPrice</del>
                        }
                    </span>
                    <span>$@(Model.ProductPrice - Model.ProductSale)</span>
                </p>

                <strong><p style="font-size: 20px;">@Model.ProductName</p></strong>

                <p>@Model.ProductDescription</p>

                <form asp-action="AddToCart" class="d-flex justify-content-left" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="productid" asp-for="Id" />
                    <!-- Default input -->
                    <div class="form-outline me-1" style="width: 100px;">
                        <input name="quantity" type="number" value="1" class="form-control placeholder-active active">
                        <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 0px;"></div><div class="form-notch-trailing"></div></div>
                    </div>
                    <button  class="btn btn-primary ms-1" type="submit">
                        Add to cart
                        <i class="fas fa-shopping-cart ms-1"></i>
                    </button>
                </form>
            </div>
            <!--Content-->
        </div>
        <!--Grid column-->
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
